<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RFUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <RFUI.Properties.Settings>
            <setting name="CanClose" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InstalledVersion" serializeAs="String">
                <value>0.1.7.0</value>
            </setting>
            <setting name="NewVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="RFUStatus" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RFUPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoUpdate" serializeAs="String">
                <value>True</value>
            </setting>
        </RFUI.Properties.Settings>
    </userSettings>
</configuration>